<div class="container">
    <form [formGroup]="form" >
        <div class="form">
            <mat-form-field color="accent">
                <input matInput #input class="form-control" placeholder="Név"  required formControlName="email">
                <mat-error>Mező kitöltése kötelező!</mat-error>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <input matInput type="password" #input class="form-control" placeholder="Jelzsó"  required formControlName="password">
                <mat-error>Mező kitöltése kötelező!</mat-error>
            </mat-form-field>
        </div>

        <div>
            <button mat-flat-button color="primary"  [disabled]="!form.valid"  (click)="login()">Belépés</button>
            <button mat-flat-button color="accent"  [disabled]="!form.valid"  (click)="signUp()">Regisztráció</button>
        </div>
    </form>
</div>