.container {
    display: flex;
    flex-direction: column;
    min-width: 700px;
    width: 50%;
    margin: 10px;
    margin-inline: auto;
    

    form {
        width: 50%;
        margin-inline: auto;
    }
}

  .form {
    display: flex;
    padding-top: 10px;
    width: 50%;
  }