
<div class="container mat-elevation-z8">
  <mat-table #carTable [dataSource]="dataSource" matSort class="mat-cell">
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Típus</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.type}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="licenseNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Rendszám</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.licenseNumber}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="fuelType">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Üzemanyag típus</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.fuelType}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="consumption">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Fogyasztás[egység/100Km]</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.consumption}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="kmAge">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Kezdő Km</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.kmAge}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="accent" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="primary" (click)="startEdit(row.id)"> <!-- -->
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" > <!-- (click)="deleteItem(i, row.id, row.title, row.state, row.url)"-->
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

    <mat-paginator 
      [pageSizeOptions]="[5, 10, 20, 50, 100]"
      showFirstLastButtons 
      aria-label="oldal">
    </mat-paginator>

    <div class="no-results" [style.display]="dataSource.data.length == 0 ? '' : 'none'">
        Nincs eredmény
    </div>
  </div>
