<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon class="app-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
    <span>
      <a class="nav-item nav-link" routerLink="">Út nyílvántartó App</a>
    </span>
    <span class="spacer"></span>
    <span>
      <a class="nav-item nav-link" routerLink="">Utak</a>
      <a class="nav-item nav-link" routerLink="">Jelentés</a>
      <a class="nav-item nav-link" routerLink="product-form">Autók</a>
      <a class="nav-item nav-link" routerLink="/driverlist">Sofőrök</a>
      <!-- 
      <a class="nav-item nav-link" routerLink="category-form">tartalék</a>
      -->
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>