@use '/src/styles.scss';

mat-toolbar {

    a { 
        padding: 15px;
        color: white;
        text-decoration-style: solid;
        text-decoration: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        
    }
    .nav-links{
        $hover-color: rgb(23, 70, 211);
        $select-color: rgb(195, 0, 195);
        
        a{
            &:hover{
                background-color: $hover-color;

                &.active-route{
                    background-color: lighten($select-color, 15%)
                }
            }

            &.active-route{
                background-color: $select-color
            }
        }
       
    }

    
    
    
    
    
    
    
    .spacer{
        flex: 1 1 auto;
    }

    
}
