<div class="container">
    <h3 *ngIf="data.edit === false" mat-dialog-title>Új sofőr hozzáadása</h3>
    <h3 *ngIf="data.edit === true" mat-dialog-title>Sofőr szerkesztése</h3>
  
    <form class="mat-dialog-content" (ngSubmit)="submit" [formGroup]="driverControl" >
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Név"  required formControlName="name">
          <mat-error *ngIf="driverControl.get('name')!.invalid">{{getErrorMessage('name')}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form">
          <mat-form-field color="accent">
            <mat-label>Születési dátum</mat-label>
            <input matInput [matDatepicker]="picker" [min]="minBirthDate" [max]="maxBirthDate" formControlName="birthdate">

            <mat-hint>17 és 100 év közötti. (YYYY/MM/DD)</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="driverControl.get('birthdate')!.invalid">{{getErrorMessage("birthdate")}}</mat-error>
          </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Lakcím"  formControlName="address" >
          <mat-error *ngIf="driverControl.get('birthdate')!.invalid">{{getErrorMessage("address")}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Jogosítvány szám" formControlName="licenseNumber" >
          <mat-error>{{getErrorMessage('licenseNumber')}} </mat-error>
        </mat-form-field>
      </div>

      <div class="form">
          <mat-form-field color="accent">
            <mat-label>Jogosítvány lejárati dátum</mat-label>
            <input matInput [matDatepicker]="picker2" [min]="minLicenseExpireDate" [max]="maxLicenseExpireDate"
            formControlName="licenseExpireDate">
            <mat-hint>Jelenleg is érvényes. (YYYY/MM/DD)</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error>{{getErrorMessage("licenseExpireDate")}}</mat-error>
          </mat-form-field>
      </div>

      <div mat-dialog-actions>
        <button mat-flat-button color="primary" [type]="submit" [disabled]="!driverControl.valid" (click)="confirmAdd()">Save</button>
        <button mat-flat-button (click)="cancel()" tabindex="-1">Cancel</button>
      </div>
    </form>
    <!--
    <button mat-flat-button (click)="teszt()" tabindex="-1">teszt()</button>
    <p>driverControl value: {{driverControl.value | json}}</p>
    <p>driverControl status: {{driverControl.status}}</p>
    <p>driverContorl jogsi: {{driverControl.get('licenseNumber')}}</p>
    -->
  </div>
